:global(*) {
  box-sizing: border-box;
}

:global(body) {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.root {
  position: relative;
  font-family: "GrotestCircular", serif;
  width: 100vw;
  overflow: hidden;
}
.root--white {
  background: white;
  color: black;
}
.root--yellow {
  background: linear-gradient(white, #FFF101, white, #FFF101);
  color: black;
}
.root--black {
  background: black;
  color: white;
}

.type__alt {
  font-family: "GrotestRectangular", serif;
}



.header {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

.title {
  margin: 0;
}

.title__logo {
  fill: black;
  height: 30px;
  margin: 4px;
}

.root--black .title__logo {
  fill: white;
}



input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}
input[type=range].input--big {
  width: 30vw;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid transparent;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
  background: white;
  border-color: black;
}
input[type=range].input--big::-webkit-slider-thumb {
  height: 2vw;
  width: 2vw;
  margin-top: -1vw;
}
input[type=range].input--black::-webkit-slider-thumb {
  background: black;
  border-color: white;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  cursor: pointer;
  background: black;
}
input[type=range].input--black::-webkit-slider-runnable-track {
  background: white;
}


.states {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.states__alignment {
  display: block;
  width: 20px;
  height: 26px;
  margin: 0 5px;
  cursor: pointer;
  border: 0;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}
.states__alignment:last-of-type {
  margin-right: 30px;
}
.states__alignment--selected {
  border-bottom-color: black;
}
.root--black .states__alignment--selected {
  border-bottom-color: white;
}



.states__backgroundToggle {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border: 1px solid transparent;
  cursor: pointer;
}
.states__backgroundToggle:focus {
  outline: 0;
}
.states__backgroundToggle--white {
  background: white;
  border-color: black;
}
.states__backgroundToggle--yellow {
  background: #FFF101;
  border-color: black;
}
.states__backgroundToggle--black {
  background: black;
  border-color: black;
}
.states__backgroundToggle:first-of-type {
  margin-left: 30px;
}
.root--black .states__backgroundToggle--black {
  border-color: white;
}

.typer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 82vh;
  padding: 0 12vw;
  overflow: hidden;
}

.typer__input {
  width: 100%;
  border: 0;
}
.typer__input:focus {
  outline: 0;
}


.typer__sticker {
  position: absolute;
  bottom: 8vmin;
  right: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vmin;
  width: 20vmin;
  padding: 2vmin;

  background: #FFF101;
  border-radius: 50%;
  box-shadow: 1vw 1vw 1vw rgba(0,0,0,0.5);
  font-size: 3vmin;
  text-align: center;
  transform: rotate(10deg);
  translate: box-shadow 0.2s;
  color: black;
  animation: blink 1.5s infinite;
  border: 0.1vw solid transparent;
}
.root--yellow .typer__sticker {
  background: black;
  color: white;
}

@keyframes blink {
  0% {
    background: #FFF101;
    color: black;
    border-color: black;
  }
  33% {
    background: #FFF101;
    color: black;
    border-color: black;
  }
  34% {
    background: black;
    color: white;
    border-color: transparent;
  }
  66% {
    background: black;
    color: white;
    border-color: transparent;
  }
  67% {
    background: white;
    color: black;
    border-color: black;
  }
  100% {
    background: white;
    color: black;
    border-color: black;
  }
}


.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2vh 12vw;
}

.about__text {
  font-size: 3.2vw;
  line-height: 1.4;
}


.arrow {
  position: absolute;
  bottom: 0vmin;
  right: 5vmin;
  width: 6vmin;
}


.newBorder {
  font-size: 3vw;
  background: white;
  border: 0.3vw solid black;
  padding: 1vw;
  width: 200vw;
  transform: translateX(-25%) rotate(-20deg);
}
.root--black .newBorder {
  color: black;
}



@font-face {
  font-family: "GrotestCircular";
  src: url("./fonts/Grotest_circular-Regular.otf");
}

@font-face {
  font-family: "GrotestRectangular";
  src: url("./fonts/Grotest_rectangular-Regular.otf");
}
