
.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0 2vw 5vh;
}


.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 10;
  font-size: 10vw;
}
.text--1 { font-family: "Grotest1"; }
.text--2 { font-family: "Grotest2"; }
.text--3 { font-family: "Grotest3"; }
.text--4 { font-family: "Grotest4"; }
.text--5 { font-family: "Grotest5"; }
.text--6 { font-family: "Grotest6"; }
.text--7 { font-family: "Grotest7"; }
.text--8 { font-family: "Grotest8"; }


.input {
  position: relative;
}
.input:before,
.input:after {
  content: "";
  transform: translateY(-50%);
  position: absolute;
  width: 2vw;
  height: 2vw;
  background: black;
}
.input.input--black:before,
.input.input--black:after {
  background: white;
}
.input:before {
  right: calc(100% + 2vw);
  border-radius: 50%;
}
.input:after {
  left: calc(100% + 2vw);
}

.arrow {
  position: absolute;
  bottom: 5vmin;
  right: 5vmin;
  width: 4vmin;
  transform: rotate(180deg);
}



@font-face {
  font-family: "Grotest1";
  src: url("./fonts/Grotest1-Regular.otf");
}

@font-face {
  font-family: "Grotest2";
  src: url("./fonts/Grotest2-Regular.otf");
}

@font-face {
  font-family: "Grotest3";
  src: url("./fonts/Grotest3-Regular.otf");
}

@font-face {
  font-family: "Grotest4";
  src: url("./fonts/Grotest4-Regular.otf");
}

@font-face {
  font-family: "Grotest5";
  src: url("./fonts/Grotest5-Regular.otf");
}

@font-face {
  font-family: "Grotest6";
  src: url("./fonts/Grotest6-Regular.otf");
}

@font-face {
  font-family: "Grotest7";
  src: url("./fonts/Grotest7-Regular.otf");
}

@font-face {
  font-family: "Grotest8";
  src: url("./fonts/Grotest8-Regular.otf");
}
