.root {
  margin: 20px;
}

.label {
  display: inline-block;
  font-family: monospace;
  border: 1px solid #000;
  padding: 2px 4px;
}

.inputs {
  display: flex;
}

.textInput {
  display: flex;
  border: 0;
  flex: 0 0 50%;
  width: 50%;
}
.textInput:focus {
  outline: 0;
}

.sizeInput {
  display: flex;
  flex: 0 0 50%;
  width: 50%;
}
